<ion-header no-border translucent>
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
      </ion-buttons>
  
      <ion-title > Buscar Pelicula </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <!-- <ion-title>Buscar</ion-title> -->
    <ion-searchbar 
    placeholder="Buscar Pelicula"
     inputmode="email" 
     type="text" 
     #search
     [value]="textoBuscar"
     animated
    (ionChange)="onSearchChange($event)" 
    [debounce]="250"></ion-searchbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" text-center>
          <ion-spinner name="circular"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Sugerencias</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of ideas">
      <ion-label color="primary" (click)="textoBuscar=item"> {{item}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
