<ion-content>
  <!-- <ion-grid>
      <ion-row>
           <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
           *ngFor="let movie of movieArray" >
              <ion-card class="welcome-card" >
                  <img [src]="movie.poster_path" alt="" />
                  <ion-card-header>
                    <ion-card-subtitle>{{movie.original_title}}</ion-card-subtitle>
                    <ion-card-title>{{movie.title}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>{{movie.overview}}</p>
                  </ion-card-content>
                </ion-card>
           </ion-col>
      </ion-row>
  </ion-grid> -->

  <ion-slides pager="true" class="slide-full" [options]="optionSLides">
      <ion-slide *ngFor="let movie of movieArray" >
          <ion-card class="welcome-card" >
              <img [src]="movie.poster_path | imagen" alt="" />
              <ion-card-header>
                <ion-card-subtitle>{{movie.original_title}}</ion-card-subtitle>
                <ion-card-title>{{movie.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>{{movie.overview}}</p>
              </ion-card-content>
            </ion-card>
      </ion-slide>

    </ion-slides>

</ion-content>
